*.o
*.so
*.a
*.log
*.tar
*.priv
*.pub
*.png
*.log
*.dat
goat*
client-*
deviceagent-*
deviceagent-linux-amd64
target/
reagent-*
src/reagent
reagent.db
reagent.db
reagent.db-shm
reagent.db-wal
*.reswarm
# *.flock
*.tar
build
.cache/

